.item {
    border-bottom: 1px solid #fff;
    width: 28.4rem;
    height: 3rem;
    padding: 0 1rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    color: #fff;

    img {
        width: 2.4rem;
        height: 2.4rem;
    }

    p {
        padding: 0;
        margin: 0 0.2rem;
    }

    input {
        border: none;
        background: none !important;
        outline: none;
    }
    

    ::placeholder {
        color: #fff;
        padding-left: 0.1rem;
    }
   
}


input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {  
    -webkit-text-fill-color: #fff !important;  
    box-shadow: 0 0 0px 1000px transparent  inset !important;  
    background-color:transparent;  
    background-image: none;  
    transition: background-color 50000s ease-in-out 0s;  
}


.item-input {
    width: 19rem;
    height: 2.6rem;
    color: rgba(255,255,255,0.81);
    font-size: 1.4rem;
}

.phone {

}

.password {
    .item-img {
        margin-right: 3.3rem;
    }
}
.item-rightimg {
    margin: 0;
}



.captcha {
    // position: relative;
    img {
        margin-right: 3.3rem;
    }
    input {
        color: #fff;
    }

    .item-hr {
        height: 3.4rem;
        width: 0.1rem;
        background: #fff;
        border-left: .1rem solid #fff;
        border-right: none;
        margin: 0.5rem 0.1rem;
        position: relative;
        top: -0.5rem;
    }
    .captcha-but {
        width: 7.4rem;
        height: 3.4rem;
        font-size: 1.2rem;
        background: transparent;
        border: none;
        color: #fff;
        outline: none;
        padding: 0;
        position: relative;
        left: 0.8rem;
        bottom: 0.6rem;
    }
}

.item-button {
    width: 22.2rem;
    height: 4.8rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.80);
    font-size: 24px;
    font-family: FangSong, FangSong-Normal;
    color: #efa9cb;
}