.backicon-container {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}



.backicon {
    transform: rotate(90deg);
    opacity: 0.9;
    width: 4rem;
    height: 4rem;
    position: relative;
    left: 4rem;
}