
.splice-container {
    background-color: #fff;
    padding: 1rem 1.2rem;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 1.6rem;
    padding-bottom: 4rem;
}

.item-container {
    position: relative;
    width: 16rem;
    height: 26.6rem;
    border: 1px solid #333;
    margin-top: 1rem;
}

.img-item {
    width: 16rem;
    height: 26.6rem;
}

.img-input {
    position: absolute;
    width: 16rem;
    height: 26.6rem;
    top: 0;
    left: 0;
    opacity: 0;
}