// .mine-container {
    
//     padding: 0 0.4rem;
//     padding-top: 2.4rem;
// }

.mine-information {
    width: 100vw;
    padding: 2.4rem .4rem 1.4rem .4rem;
    height: 19.7rem;
    background: linear-gradient(180deg,#facdcd, #baeffc);
}

.info-all {
    width: 94vw;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-left {
    color: #333333;
    height: 6.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info-face {
    width: 10rem;
    height: 10rem;
    background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info-nick {
    width: 14.4rem;
    height: 3rem;
    opacity: 0.56;
    font-size: 2rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Normal;
    text-align: left;
    
}

.info-img {
}

.info-signature {
    padding-left: 0.4rem;
    opacity: 0.73;
    max-width: 24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-tab {
    width: 100vw;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab-img {
    width: 49%;
    margin-bottom: 1rem;
}

.tab-love {
    width: 49%;
    margin-bottom: 1rem;
    background: #fff;
    // padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.love-img {
    width: 100%;
}

.love-icon {
    width: 2rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

.am-tabs-default-bar-tab {
    color: rgba(51, 51, 51, 85);
}

.am-tabs-default-bar-tab-active {
    color: rgba(250, 205, 205, 100);
}

.am-tabs-default-bar-underline {
    border: 1px solid rgba(250, 205, 205, 100);
}


.bu-tologin {
    margin: 0 auto;
    padding: 4rem;
    width: 100vw;
    text-align: center;
    color: #333;
    margin-top: 10rem;
}